<p>tercer-dia works!</p>
<h1>{{servicio.var_service}}</h1>
<input
    type="text"
    [(ngModel)]="name"
    class="form-control"
>
<button
    class="btn btn-primary"
    (click)="servicio.onClickButton(name)"
>
    Click al servicio
    
</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let itemuser of users">
        <th>{{(itemuser.title)}}</th>
        <td>{{itemuser.body | uppercase}}</td>
      </tr>
    </tbody>
  </table>
